<div class="navbar">
  <a class="homenav" href="/home">Playlister</a>
  <a href="/artists">Artists</a>
  <a href="/genres">Genres</a>
  <a href="/songs">Songs</a>
  <p>
</div>

<h1>
  <%= @artist %> - <%= @artist_obj.songs.size %> Songs
</h1>
  <ol>
    <% @artist_obj.songs.each do |song| %>
      <li>
        <a href = "/songs/<%= song.title.gsub(" ", "_") %>">
          <%= song.title %>
      </li>
    <% end %>
  </ol>

<a class="listen" href="https://myspace.com/<%=@artist.gsub(" ", "")%>/music/songs" target="_blank">Listen</a>