<div class="navbar">
  <a class="homenav" href="/home">Playlister</a>
  <a href="/artists">Artists</a>
  <a href="/genres">Genres</a>
  <a href="/songs">Songs</a>
  <p>
</div>

<h1>
  <%= @artist %>
</h1>

<h3>
  <%= @artist_obj.songs.size %> Songs
</h3>

<ol>
  <% @artist_obj.songs.each do |song| %>
    <li>
      <a href = "/songs/<%= song.title.gsub(" ", "_") %>">
        <%= song.title %>
      </a>
    </li>
  <% end %>
</ol>

<iframe src="https://embed.spotify.com/?uri=<%=@artist_uri%>" frameborder="0" allowtransparency="true" width="703" height="783"></iframe>

<!-- <div class="listen_container">
  <div class="listen">
    <a href="https://myspace.com/<%=@artist.gsub(" ", "")%>/music/songs" target="_blank">
      Listen
    </a>
  </div>
</div> -->