<div class="navbar">
  <a class="homenav" href="/home">Playlister</a>
  <a href="/artists">Artists</a>
  <a href="/genres">Genres</a>
  <a href="/songs">Songs</a>
  <p>
</div>

<h1>
  <em><%= @song %></em>
</h1>
<h3>
  by <a href="/artists/<%= @song_obj.artist.gsub(" ", "_") %>">
    <%= @song_obj.artist %>
  </a>
</h3>

<iframe src="https://embed.spotify.com/?uri=<%=@song_uri%>" frameborder="0" allowtransparency="true" width="703" height="783"></iframe>

<!-- <div class="listen_container">
  <div class="listen">
    <a href="https://myspace.com/<%=@song_obj.artist.gsub(" ", "")%>/music/song/<%=@song.gsub(" ", "")%>" target="_blank">
      Listen
    </a>
  </div>
</div> -->